<IfModule mod_rewrite.c>
RewriteEngine On

# If the request is for an existing file or directory, serve it directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# SPA fallback - serve index.html for all other routes
RewriteRule ^ index.html [L]
</IfModule>

<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 52.183.72.253
